@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'News Cycle', sans-serif;
  /* background: linear-gradient(90deg, #FFAD9F, #FCFCFC); */
  /* background: linear-gradient(to bottom, #FFAD9F, #FCFCFC); */
  background: linear-gradient(to bottom right, #FFAD9F, #FCFCFC);
  font-size: bold;
}

* {
  box-sizing: border-box;
}
