.rainbow{
    background-color: #FFAD9F;
    border-radius: 4px;  
     color: black;
    cursor: pointer;
    padding: 8px 16px;
}
.rainbow:hover{
    background-image: linear-gradient(90deg, #95b8f6 0%, #add5fa 49%, #f9d99a 80%, #f9a59a 100%);
    animation:slidebg 5s linear infinite;
 }
 